<div class="post-header" style="margin-bottom: 30px; padding-bottom: 5px; border-bottom: 1px solid #d3d3d3">   
    <h2 style="margin:0px; padding-bottom:2px">{{post.title}}</h2>
    <div id="post-meta">
        <div class="date">{{post.date|date:"yyyy-MM-dd"}}</div>
        {% if post.author %}
        <span class="col-lg-6 right">By: {{post.author}}</span>
        {% endif %}
    </div>
</div>
<div>
    {% if post.toc %}{{post.toc|safe}}{% endif %}
    {{post.content|safe}}
</div>
<!-- post-footer div gets closed in home/post -->
<div id="post-footer">
    {% if post.tags|not-empty %}
    <div id="post-tags">
        <b>标签分类: </b>
        {% for tag in post.tags %}
        <a href="{{tag.uri}}">{{tag.name}}</a>
        {% endfor %}
    </div>
    {% endif %}
</div>